# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment settings
.env

# PyCharm / VS Code settings
.idea/
.vscode/

# Downloads directory (не грузим скачанные видео в гит!)
downloads/
*.mp4
*.webm
*.mp3
